<footer class="footer bg-dark text-white py-4 mt-auto">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="d-flex align-items-center mb-3 mb-md-0">
      <img src="assets/logo.png" alt="Web Push Craft Logo" class="footer-logo me-2" />
    </div>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link px-2 text-light" href="https://github.com/mateuszprzeczek/web-push-craft" target="_blank">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-light" href="#">Privacy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-light" href="#">Contact</a>
      </li>
    </ul>
  </div>
</footer>
