<div class="home container text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="d-flex align-items-center mb-3 mb-md-0">
    <img src="assets/logo.png" alt="Web Push Craft Logo" class="home-logo me-2" />
  </div>
  <h1 class="fs-1 text-light mb-3">Welcome to Web Push Craft</h1>
  <p class="fs-5 text-light mb-4">Create, test, and manage your Web Push notifications with ease.</p>

  <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
    <button mat-flat-button color="primary" [routerLink]="['/login']">Log In</button>
    <button mat-stroked-button color="accent" [routerLink]="['/register']">Register</button>
    <button mat-button color="warn" (click)="authService.loginAsGuest()">Try Demo</button>
  </div>
</div>
