<div class="home container text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="d-flex align-items-center mb-3 mb-md-0">
    <img src="assets/logo.png" alt="Web Push Craft Logo" class="home-logo me-2" />
  </div>
  <h1 class="fs-1 text-light mb-3">{{ 'home.welcome' | translate }}</h1>
  <p class="fs-5 text-light mb-4">{{ 'home.subtitle' | translate }}</p>

  <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
    <button mat-flat-button color="primary" [routerLink]="['/login']">{{ 'home.login' | translate }}</button>
    <button mat-stroked-button color="accent" [routerLink]="['/register']">{{ 'home.register' | translate }}</button>
    <button mat-button color="warn" (click)="authService.loginAsGuest()">{{ 'home.try_demo' | translate }}</button>
  </div>
</div>
